<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        input[type=text] {
            margin-bottom: 10px;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(rgb(153, 93, 93), rgb(92, 53, 147)), url(./images/Bg.jpg);
        }
        form {
            text-align: center;
        }
        label {
            display: inline-block;
            width: 150px;
            text-align: right;
            margin-right: 10px;
        }
    </style>
</head>
<body>

            <div class="container">
                    <form action="\pred" method="POST">
                    <div class="form-group">
                    <label for="playground">Playground:</label>
                    <input type="text" name="playground" id="playground" placeholder="Enter 1 for Yes and 0 for No">
                </div>

            <div class="form-group">
                <label for="auditorium">Auditorium:</label>
                <input type="text" name="auditorium" id="auditorium" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="theatre">Theatre:</label>
                <input type="text" name="theatre" id="theatre" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="library">Library:</label>
                <input type="text" name="library" id="library" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="laboratory">Laboratory:</label>
                <input type="text" name="laboratory" id="laboratory" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="conference_hall">Conference Hall:</label>
                <input type="text" name="conference_hall" id="conference_hall" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="health_center">Health Center:</label>
                <input type="text" name="health_center" id="health_center" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="gymnasium_fitness_center">Gymnasium/Fitness Center:</label>
                <input type="text" name="gymnasium_fitness_center" id="gymnasium_fitness_center" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="indoor_stadium">Indoor Stadium:</label>
                <input type="text" name="indoor_stadium" id="indoor_stadium" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="common_room">Common Room:</label>
                <input type="text" name="common_room" id="common_room" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="computer_center">Computer Center:</label>
                <input type="text" name="computer_center" id="computer_center" placeholder="Enter 1 for Yes and 0 for No">
            </div>

            <div class="form-group">
                <label for="cafeteria">Cafeteria:</label>
                <input type="text" name="cafeteria" id="cafeteria" placeholder="Enter 1 for Yes and 0 for No">
            </div>
            <input type="submit"  placeholder="submit"><br/>
        </form>
</body>
</html>
